PORT=3000

# ---- GROQ (Primary AI) ----
# Get free key: https://console.groq.com
GROQ_API_KEY=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
GROQ_API_KEY_FALLBACK=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
GROQ_MODEL=llama-3.3-70b-versatile

# ---- GEMINI (Fallback AI) ----
# Get free key: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyAV6_gcztM9uolKWLPSdTaGq1ukScJ-Ml0
GEMINI_MODEL=gemini-1.5-flash

# ---- SETTINGS ----
RESPONSE_DELAY_MIN=2
RESPONSE_DELAY_MAX=2
